
// transparency
 * {
   background-color: transparent; 
}

//day
.day-text {
  font-family: "Midorima - Personal Use";
  font-size: 100px;
  color: #aa7eee;

}

//date
.date-text {
  font-size: 20px;
  font-family: "Rusilla serif";
  color: #ffffff;

}





