dconf/
pulse/
systemd/
session/
dolphinrc
kde.org/
yay/
fish/fish_variables
trashrc
#.config/tmux/plugins/
Kvantum/
QtProject.conf
Thunar/
kdeglobals
qt5ct/
qt6ct/
user-dirs.dirs
user-dirs.locale
xfce4/
user-dirs.dirs
user-dirs.locale
.config/fish/conf.d/
.config/fish/fish_variables
